body {
    background: lightgrey;
}

.nav {
    padding-left: 6%;
    background: white;
}

.home-icon h1 {
    width: 110px;
    margin: 0;
    padding: 5px;
    text-align: center;
    background: rgb(47, 165, 135);  
    font-family: 'Times New Roman';
    color: white;
    font-size: 24px;
}

.main {
    margin-top: 24px;
    margin-bottom: 50px;
    background: lightgrey;
}

.summary {
    border-style: solid;
    border-width: 8px;
    border-color: lightgrey;
    background: white;
}

.summary h1 {
    color: rgb(47, 165, 135);
    font-size: 30px;
}

.visualizations {
    border-style: solid;
    border-width: 8px;
    border-color: lightgrey;
    background: white;
}

.visualizations h1 {
    color: rgb(47, 165, 135);
    font-size: 30px;
}

.plots {
    margin: 0px;
    padding-left: 24px;
    padding-right: 24px;        
}

.bottom-sep {
    height: 3px;
    background: rgb(47, 165, 135);
    margin-top: 0px;
}

.footer {
    background: grey;
    padding-top: 5px;
    font-size: 12px;
    color: white;
    text-align: center;
}